// #region RESET STYLES
* {
    margin: 0;
    box-sizing: border-box;
}

ul {
    padding: 0;

    li {
        list-style: none;
    }
}

button,
input {
    font-family: inherit;
}

input {
    outline: none;
}

button {
    border: none;
    padding: 0;
}

// #endregion

body {
    margin: 0;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #e7f6ff;
}

.wrapper {
    max-width: 1080px;
    margin: 50px auto;
    background: #fff;
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
}

header {
    border-bottom: 1px solid #EAEAEA;
}

.content {
    padding: 40px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.sneakers {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 40px 30px;
}

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.drawer {
    position: absolute;
    right: 0;
    height: 100%;
    width: 415px;
    padding: 30px;
    background: #fff;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;

    .cartItems {
        flex: 1;
        overflow: auto;
        margin: 0px 0px 40px 0px;
        & > *:not(:last-child) {
            margin: 0px 0px 20px 0px;
        }
    }
}

.cartItem {
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    padding: 20px 20px 30px 20px;

    p {
        font-size: 14px;
    }

    b {
        font-size: 14px;
    }

    .removeBtn {
        opacity: 0.5;
        transition: 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }
}

.cartTotal {
    ul>li:not(:last-child) {
        margin: 0px 0px 20px 0px;
    }
    ul>li>div {
        flex: 1;
        border-bottom: 1px dashed #dfdfdf;
        position: relative;
        top: -4px;
        margin: 0 7px;
    }
}

.particularOrder {
    &:not(:last-child) {
        margin: 0px 0px 50px 0px;
    }
}